<%
	local ver = require "luci.version"
	local disp = require "luci.dispatcher"
	local request  = disp.context.path
	local category = request[1]
	local tree = disp.node()
	local categories = disp.node_childs(tree)
%>
   <footer>
	
	   </div>
    <a href="https://github.com/openwrt/luci">Powered by <%= ver.luciname %> (<%= ver.luciversion %>)</a> / <%= ver.distversion %>
    <% if #categories > 1 then %>
     <ul class="breadcrumb pull-right" id="modemenu">
	    <% for i, r in ipairs(categories) do %>
		    <li<% if request[1] == r then %> class="active"<%end%>><a href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a> <span class="divider">|</span></li>
	    <% end %>
     </ul>
    <% end %>
   </footer>
<script src="<%=media%>/js/vue.min.js"></script>
<script src="<%=media%>/vant/vant.min.js"></script>
 <script>
    // 初始化 Vue 实例
    new Vue({
      el: '#app',
      data() {
        return {
        };
      },

      methods: {
		onClickLeft() {
		      window.location.href='<%=luci.dispatcher.build_url("admin/status/vzant")%>';
		    },
      }
    });
  </script>		    
		    
 </body>
</html>

