<%
	local ver = require "luci.version"
	local disp = require "luci.dispatcher"
	local request  = disp.context.path
	local category = request[1]
	local tree = disp.node()
	local categories = disp.node_childs(tree)
%>
   <footer>
    <a href="https://github.com/openwrt/luci">Powered by <%= ver.luciname %> (<%= ver.luciversion %>)</a> / <%= ver.distversion %>
    <% if #categories > 1 then %>
     <ul class="breadcrumb pull-right" id="modemenu">
	    <% for i, r in ipairs(categories) do %>
		    <li<% if request[1] == r then %> class="active"<%end%>><a href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a> <span class="divider">|</span></li>
	    <% end %>
     </ul>
    <% end %>
   </footer>
<script src="<%=media%>/js/vue.min.js"></script>
<script src="<%=media%>/vant/vant.min.js"></script>
 <script>
    // 初始化 Vue 实例
    new Vue({
      el: '#app',
      data() {
        return {
        };
      },

      methods: {
		onClickLeft() {
		      window.location.href='<%=luci.dispatcher.build_url("admin/status/vzant")%>';
		    },
      }
    });
  </script>	
		    
		    
		    <style>.demo-home {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 46px 20px 20px;
}
.demo-home__title,
.demo-home__desc {
  padding-left: 16px;
  font-weight: normal;
  line-height: 1;
  -webkit-user-select: none;
          user-select: none;
}
.demo-home__title {
  margin: 0 0 16px;
  font-size: 32px;
}
.demo-home__title img,
.demo-home__title span {
  display: inline-block;
  vertical-align: middle;
}
.demo-home__title img {
  width: 32px;
}
.demo-home__title span {
  margin-left: 16px;
}
.demo-home__title--small {
  font-size: 24px;
}
.demo-home__desc {
  margin: 0 0 10px;
  color: rgba(69, 90, 100, 0.6);
  font-size: 14px;
}
</style>
		    
 </body>
</html>

