name: compile-package

on:
  repository_dispatch:  # 当通过 repository_dispatch 事件触发工作流程时执行
  workflow_dispatch:  # 当手动触发工作流程时执行
#  schedule:
#    - cron: '0 18 * * 5'  # 定时触发
#  watch:
#    types: started  # 右上角star按钮触发

jobs:
   openwrt:
      name: ipk-openwrt-${{ matrix.target.arch }}-${{ matrix.target.package }}
      runs-on: ubuntu-latest
      environment: OpenWrt
      strategy:
        matrix:
          target:
            - arch: "aarch64_generic"  # 目标架构
              sdk: "https://downloads.openwrt.org/releases/22.03.2/targets/rockchip/armv8/openwrt-sdk-22.03.2-rockchip-armv8_gcc-11.2.0_musl.Linux-x86_64.tar.xz"  # OpenWrt SDK的下载链接
              feeds: "https://raw.githubusercontent.com/openwrt/openwrt/main/feeds.conf.default"  # 第三方feeds的下载链接
              name: "vzant"  # 第三方ipk软件包简称，通配符匹配用
              url: "https://github.com/ykxVK8yL5L/luci-theme-vzant"  # 配置feeds.conf拉取第三方ipk软件包链接
              package: "luci-theme-vzant"  # 第三方ipk软件包名称

      steps:
        - name: 检查
          uses: actions/checkout@main

        - name: 安装编译环境
          run: |
            sudo apt-get update  # 更新软件包列表
            sudo apt-get install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 python3 python3-pyelftools libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev python3-setuptools || true  # 安装所需的构建工具和依赖

        - name: 安装SDK
          run: |
            wget -O openwrt-sdk.tar.xz ${{ matrix.target.sdk }}  # 下载OpenWrt SDK
            xz -q -d openwrt-sdk.tar.xz && tar -xvf openwrt-sdk.tar  # 解压OpenWrt SDK
            mv -f openwrt-sdk-* openwrt-sdk  # 重命名SDK目录为 openwrt-sdk

        - name: 编译插件
          run: |
            cd openwrt-sdk  # 进入OpenWrt SDK目录
            # cat feeds.conf.default > feeds.conf  # 复制feeds.conf.default到feeds.conf
            curl -fsSL ${{ matrix.target.feeds }} > feeds.conf  # 拉取第三方feeds.conf.default到feeds.conf
            echo "src-git ${{ matrix.target.name }} ${{ matrix.target.url }}" >> ./feeds.conf  # 配置feeds.conf拉取第三方ipk软件包
            cat feeds.conf  # 读取feeds.conf内容
            ./scripts/feeds update -a > /dev/null  # 更新feeds软件包
            echo 'CONFIG_PACKAGE_${{ matrix.target.package }}=m' > ./.config  # 勾选配置项构建编译条件
            ./scripts/feeds install -d y -f -a  # 安装feeds依赖的软件包
            make defconfig  # 配置默认配置
            make package/${{ matrix.target.package }}/compile V=s  # 编译ipk软件包
            tree bin/packages/  # 显示生成的软件包目录结构

        - name: 整理文件
          run: |
            mkdir -p firmware  # 创建firmware文件夹
            cp openwrt-sdk/bin/packages/*/*/*${{ matrix.target.name }}* ./firmware/  # 拷贝ipk文件到firmware文件夹

        - name: 上传固件目录
          uses: actions/upload-artifact@main  # 使用 actions/upload-artifact 操作来将构建的软件包存档
          with:
            name: ipk-openwrt-${{ matrix.target.arch }}-${{ matrix.target.package }}
            path: ./firmware/*.*  # 存档的文件路径，使用通配符匹配指定
            if-no-files-found: error  # 如果没有找到文件则报错

        - name: 上传ipk发布
          uses: svenstaro/upload-release-action@master  # 使用 svenstaro/upload-release-action 操作来上传软件包到GitHub Release
          with:
            repo_token: ${{ secrets.GITHUB_TOKEN }}  # 使用GitHub令牌进行身份验证，后面GITHUB_TOKEN数字改成自己的令牌名称
            file_glob: true  # 匹配通配符以选择要上传的文件
            overwrite: true  # 如果已存在具有相同名称的文件，则覆盖它
            file: ./firmware/*.*  # 要上传的文件，使用通配符匹配指定
            tag: "refs/tags/${{ matrix.target.package }}"  # 上传到GitHub Release的标签名称，包含一个变量
